DirectoryIndex index.html
Options All -Indexes
ErrorDocument 404 /404.php

# Redirecciones para páginas del sitemap antiguo (2013-ene y aa)
Redirect /bol/2004/boletin2004.htm http://losestudiantes.org/old/bol/2004/boletin2004.htm
Redirect /boletin.php http://losestudiantes.org/old/boletin.php
Redirect /calendario.php http://losestudiantes.org/old/calendario.php
Redirect /casa_hemandad.php http://losestudiantes.org/old/casa_hemandad.php
Redirect /cofradia.php http://losestudiantes.org/old/cofradia.php
Redirect /cofradia_ceroferarios.php http://losestudiantes.org/old/cofradia_ceroferarios.php
Redirect /cofradia_concierto.php http://losestudiantes.org/old/cofradia_concierto.php
Redirect /cofradia_costaleros.php http://losestudiantes.org/old/cofradia_costaleros.php
Redirect /estrenos.php http://losestudiantes.org/old/estrenos.php
Redirect /cofradia_info.php http://losestudiantes.org/old/cofradia_info.php
Redirect /cofradia_insignias.php http://losestudiantes.org/old/cofradia_insignias.php
Redirect /cofradia_itinerario.php http://losestudiantes.org/old/cofradia_itinerario.php
Redirect /cofradia_mantilla.php http://losestudiantes.org/old/cofradia_mantilla.php
Redirect /cofradia_musica.php http://losestudiantes.org/old/cofradia_musica.php
Redirect /cofradia_nazarenos.php http://losestudiantes.org/old/cofradia_nazarenos.php
Redirect /cofradia_paso_cristo.php http://losestudiantes.org/old/cofradia_paso_cristo.php
Redirect /cofradia_paso_virgen.php http://losestudiantes.org/old/cofradia_paso_virgen.php
Redirect /cofradia_viacrucis.php http://losestudiantes.org/old/cofradia_viacrucis.php
Redirect /desa/accion_social.php http://losestudiantes.org/old/desa/accion_social.php
Redirect /docs/0712-parroquias-cercanas-colon.doc http://losestudiantes.org/old/docs/0712-parroquias-cercanas-colon.doc
Redirect /docs/0712-parroquias-cercanas-colon.pdf http://losestudiantes.org/old/docs/0712-parroquias-cercanas-colon.pdf
Redirect /docs/0902_acuerdos_cabildo.pdf http://losestudiantes.org/old/docs/0902_acuerdos_cabildo.pdf
Redirect /docs/0902_cabildo.pdf http://losestudiantes.org/old/docs/0902_cabildo.pdf
Redirect /docs/0902_diptico_cuaresma.pdf http://losestudiantes.org/old/docs/0902_diptico_cuaresma.pdf
Redirect /docs/0902_inscripcion.pdf http://losestudiantes.org/old/docs/0902_inscripcion.pdf
Redirect /docs/0902_pregon_manuel_marin_huelva.pdf http://losestudiantes.org/old/docs/0902_pregon_manuel_marin_huelva.pdf
Redirect /docs/0903_pregon_manuel_marin_lanzada.pdf http://losestudiantes.org/old/docs/0903_pregon_manuel_marin_lanzada.pdf
Redirect /docs/anuncio_concierto_2007.pdf http://losestudiantes.org/old/docs/anuncio_concierto_2007.pdf
Redirect /docs/anuncio_pregon_2007.pdf http://losestudiantes.org/old/docs/anuncio_pregon_2007.pdf
Redirect /docs/estacion_penitencia_2008.pdf http://losestudiantes.org/old/docs/estacion_penitencia_2008.pdf
Redirect /docs/estampas_2007.pdf http://losestudiantes.org/old/docs/estampas_2007.pdf
Redirect /enlaces.php http://losestudiantes.org/old/enlaces.php
Redirect /fotos/pregon2006.php http://losestudiantes.org/old/fotos/pregon2006.php
Redirect /h03_salida2006b.php http://losestudiantes.org/old/h03_salida2006b.php
Redirect /historia.php http://losestudiantes.org/old/historia.php
Redirect /historia_1994.php http://losestudiantes.org/old/historia_1994.php
Redirect /historia_2.php http://losestudiantes.org/old/historia_2.php
Redirect /historia_2002.php http://losestudiantes.org/old/historia_2002.php
Redirect /imagenes.php http://losestudiantes.org/old/imagenes.php
Redirect /imagenes_2006_jm1.php http://losestudiantes.org/old/imagenes_2006_jm1.php
Redirect /imagenes_2006_jm2.php http://losestudiantes.org/old/imagenes_2006_jm2.php
Redirect /imagenes_2006_jm3.php http://losestudiantes.org/old/imagenes_2006_jm3.php
Redirect /imagenes_2006_jm4.php http://losestudiantes.org/old/imagenes_2006_jm4.php
Redirect /imagenes_2006_jm5.php http://losestudiantes.org/old/imagenes_2006_jm5.php
Redirect /imagenes_2006_o1.php http://losestudiantes.org/old/imagenes_2006_o1.php
Redirect /imagenes_cristo.php http://losestudiantes.org/old/imagenes_cristo.php
Redirect /imagenes_virgen.php http://losestudiantes.org/old/imagenes_virgen.php
Redirect /images/02_hist_enl-1-1.htm http://losestudiantes.org/old/images/02_hist_enl-1-1.htm
Redirect /images/02_hist_enl-3-2.htm http://losestudiantes.org/old/images/02_hist_enl-3-2.htm
Redirect /info_basica.php http://losestudiantes.org/old/info_basica.php
Redirect /junta.php http://losestudiantes.org/old/junta.php
Redirect /mapa.php http://losestudiantes.org/old/mapa.php
Redirect /notas/09_manuel_marin_pregonero.php http://losestudiantes.org/old/notas/09_manuel_marin_pregonero.php
Redirect /notas/2005001.htm http://losestudiantes.org/old/notas/2005001.htm
Redirect /notas/200504_abelmoreno.htm http://losestudiantes.org/old/notas/200504_abelmoreno.htm
Redirect /notas/200504_hnomayor.doc http://losestudiantes.org/old/notas/200504_hnomayor.doc
Redirect /notas/200505_retiros_anuncio.htm http://losestudiantes.org/old/notas/200505_retiros_anuncio.htm
Redirect /notas/200506_charlas_carta.htm http://losestudiantes.org/old/notas/200506_charlas_carta.htm
Redirect /notas/200506_charlas_programa.htm http://losestudiantes.org/old/notas/200506_charlas_programa.htm
Redirect /notas/200611_esquivias_pregonero_sevilla.htm http://losestudiantes.org/old/notas/200611_esquivias_pregonero_sevilla.htm
Redirect /notas/200710_nuevas_estampas_oraciones.htm http://losestudiantes.org/old/notas/200710_nuevas_estampas_oraciones.htm
Redirect /notas/2009_ciclo_formacion.php http://losestudiantes.org/old/notas/2009_ciclo_formacion.php
Redirect /noticias.php http://losestudiantes.org/old/noticias.php
Redirect /noticias_mas.php http://losestudiantes.org/old/noticias_mas.php
Redirect /reglamentos.php http://losestudiantes.org/old/reglamentos.php
Redirect /reglamentos_2.php http://losestudiantes.org/old/reglamentos_2.php
Redirect /reglamentos_3.php http://losestudiantes.org/old/reglamentos_3.php
Redirect /reglamentos_4.php http://losestudiantes.org/old/reglamentos_4.php
Redirect /reglamentos_5.php http://losestudiantes.org/old/reglamentos_5.php
Redirect /reglamentos_6.php http://losestudiantes.org/old/reglamentos_6.php
Redirect /reglas.php http://losestudiantes.org/old/reglas.php
Redirect /reglas_2.php http://losestudiantes.org/old/reglas_2.php
Redirect /reglas_3.php http://losestudiantes.org/old/reglas_3.php
Redirect /reglas_4.php http://losestudiantes.org/old/reglas_4.php
Redirect /salida2006.php http://losestudiantes.org/old/salida2006.php

#Rewrites antiguos (pte asimilar)
RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^h02_hist\.htm$ "http\:\/\/www\.losestudiantes\.org\/historia_1994\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^desa\/\/?(.*)$ "http\:\/\/www\.losestudiantes\.org\/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^h03_imag_c\.htm$ "http\:\/\/www\.losestudiantes\.org\/imagenes_cristo\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^h03_imag_v\.htm$ "http\:\/\/www\.losestudiantes\.org\/imagenes_virgen\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^h05_cultos\.htm$ "http\:\/\/www\.losestudiantes\.org\/calendario\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^h06_accsocial\.htm$ "http\:\/\/www\.losestudiantes\.org\/accion_social\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^losestudiantes.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.losestudiantes.org$
RewriteRule ^index\.htm$ "http\:\/\/www\.losestudiantes\.org\/index\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^h04_08\.htm$ "http\:\/\/www\.losestudiantes\.org\/cofradia\.php" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^h08_reglas_4\.htm$ "http\:\/\/www\.losestudiantes\.org\/reglas_4\.php" [R=301,L]

